@model MentoratNetCore.Models.UtilisateurViewModel
@using MentoratNetCore.Extensions

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Utilisateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == User.Id())
{
    <h2>Mon dossier</h2>
}
else
{
    <h2>Dossier de @Model.Nom</h2>
}
<br />

@*<input type="hidden" name="cookiePage" id="cookiePage" />*@

@*@Html.Hidden("cookiePage","", new { @id = "cookiePage" })*@

<div class="wrapper">
    @{bool boolPageDefault;
        //string valPage = Request.Cookies["UtilisateurTabStripPage"].Value;

        /*
        HttpCookie monCookie = Request.Cookies["UtilisateurTabStripPage"];
        string valPage = monCookie != null ? monCookie.Value : "";
        */

        //read cookie from IHttpContextAccessor
        string monCookie = HttpContextAccessor.HttpContext.Request.Cookies["UtilisateurTabStripPage"];
        string valPage = monCookie != null ? monCookie : "";


        if (Model.section != null && Model.section != "")
        {
            boolPageDefault = false;
            valPage = Model.section.ToLower();
        }
        else
        {
            if (valPage != null && valPage != "")
            {
                boolPageDefault = false;
                valPage = valPage.ToLower();
            }
            else
            {
                boolPageDefault = true;
            }

        }

    }

    @(Html.Kendo().TabStrip()
                      .Name("tabstripUtilisateur")
                      .Items(tabstrip =>
                      {
                          if (User.Identity.IsAuthenticated && User.IsInRole("PageUtilisateurs"))
                          {
                              if (valPage == "info")
                              {
                                  boolPageDefault = true;
                              }

                              tabstrip.Add().Text("Informations")
                  .Selected(boolPageDefault)
                  .LoadContentFrom("UtilisateurInfoOuvrir", "Account", new { utilisateur = Model.userName });
                              boolPageDefault = false;
                          }

                          if (User.Identity.IsAuthenticated)
                          {
                              if ((bool)ViewData["AfficherSectionPhyto"])
                              {
                                  if (valPage == "dossier")
                                  {
                                      boolPageDefault = true;
                                  }

                                  tabstrip.Add().Text("Dossier")
                            .Selected(boolPageDefault)
                            .LoadContentFrom("InformationsMentore", "Inscriptions", new { utilisateur = Model.userName });
                                  boolPageDefault = false;

                                  if (valPage == "phyto")
                                  {
                                      boolPageDefault = true;
                                  }
                                  tabstrip.Add().Text("Phytoprotection")
                       .Selected(boolPageDefault)
                   .LoadContentFrom("Modification", "Assignation", new { utilisateur = Model.userName, type = "Phyto" });
                              }

                          }


                          if (User.Identity.IsAuthenticated && User.IsInRole("GererUtilisateurDroits"))
                          {
                  // .Content(@<text>@Html.Action("UtilisateurInfoOuvrir", "Account", new { utilisateur= Model.userName })</text>);
                  if (valPage == "Droits")
                              {
                                  boolPageDefault = true;
                              }
                              tabstrip.Add().Text("Droits d'accès")
                  .Selected(boolPageDefault)
              .LoadContentFrom("UtilisateurDroits", "Account", new { utilisateur = Model.userName });
                  /**/
                @*.Content(@<text>@Html.Action("UtilisateurDroits", "Account", new { utilisateur = Model.userName })</text>);*@
                /**/

                        }

            //       tabstrip.Add().Text("Plan d'action")
            //    .Selected(false)
            //.LoadContentFrom("PlanAction", "Assignation");

        })
                 .Events(events => events
                  //.Activate("onActivateTabStripUtilisateur")
                  .Select("onSelectTabStripUtilisateur")
              )

    )
</div>

<script>
    //window.onload = function ()
    //{
    //    var cookie = Cookies.get('UtilisateurTabStripPage') + "";


    //    if (cookie != "")
    //    {
    //        $("#cookiePage").val(cookie);
    //    }
    //    else {
    //        $("#cookiePage").val("");
    //    }



    //}


    function onSelectTabStripUtilisateur(e) {
        var nomTab = $(e.item).text().toLowerCase();
        var valeurCookie = "";

        if (nomTab.indexOf("phyto") >= 0) {
            valeurCookie = "phyto";
        }

        if (nomTab.indexOf("dossier") >= 0) {
            valeurCookie = "dossier";
        }

        if (valeurCookie != "") {
            Cookies.set('UtilisateurTabStripPage', valeurCookie, { expires: 1 / 48 });
        }
        else {
            Cookies.remove('UtilisateurTabStripPage');
        }

        //var cookie = Cookies.get('UtilisateurTabStripPage');
        //alert(cookie);
        //if (typeof coookie != 'undefined' && cookie != "") {
        //    $("#cookiePage").val(cookie);
        //}
        //else {
        //    $("#cookiePage").val("");
        //}

        //alert($("#cookiePage").val());

    }


    $(document).ready(function () {



        var ts = $("#tabstripUtilisateur").data('kendoTabStrip');

        ts.tabGroup.on('click', 'li', function (e) {
            var index = $(this).index();
            if (!$(ts.contentElement(index)).is(":empty")) {
                ts.reload($(this));
            }
        })

    });
</script>
